src/main/resources/xsd/ChronopostTrackingXSD.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<xs:schema xmlns:tns="http://webservice.trace.chronopost.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://webservice.trace.chronopost.com">

    <xs:element name="getSimpleTrace" type="tns:getSimpleTrace"></xs:element>

    <xs:element name="getSimpleTraceResponse" type="tns:getSimpleTraceResponse"></xs:element>

    <xs:element name="getSimpleTraceURL" type="tns:getSimpleTraceURL"></xs:element>

    <xs:element name="getSimpleTraceURLResponse" type="tns:getSimpleTraceURLResponse"></xs:element>

    <xs:element name="getTraceByClientRef" type="tns:getTraceByClientRef"></xs:element>

    <xs:element name="getTraceByClientRefResponse" type="tns:getTraceByClientRefResponse"></xs:element>

    <xs:element name="getTraceBySkybill" type="tns:getTraceBySkybill"></xs:element>

    <xs:element name="getTraceBySkybillResponse" type="tns:getTraceBySkybillResponse"></xs:element>

    <xs:complexType name="getTraceByClientRef">
        <xs:sequence>
            <xs:element name="pUser" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="pPassword" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="pClientRefList" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="pLanguage" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTraceByClientRefResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:traceMessageListType" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="traceMessageListType">
        <xs:sequence>
            <xs:element name="traceEventList" type="tns:traceMessageType" nillable="true" minOccurs="0"
                        maxOccurs="unbounded"></xs:element>
            <xs:element name="wsProcessingMessage" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="traceMessageType">
        <xs:sequence>
            <xs:element name="evtSkybill" type="tns:skybillType" minOccurs="0"></xs:element>
            <xs:element name="evtTraceList" type="tns:traceEventType" nillable="true" minOccurs="0"
                        maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="skybillType">
        <xs:sequence>
            <xs:element name="ship_Address" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ship_Client_Ref" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ship_Name" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ship_Postal_Code" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ship_Postal_Code_Location" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ship_Skybill" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ship_Skybill_date" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="traceEventType">
        <xs:sequence>
            <xs:element name="trace_Event_CODE" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_Comment" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_Date" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_Description" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_Latitude" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_Longitude" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSimpleTrace">
        <xs:sequence>
            <xs:element name="pSkybillNumber" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="pLanguage" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSimpleTraceResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:traceEventListType" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="traceEventListType">
        <xs:sequence>
            <xs:element name="traceEventsArr" type="tns:traceEventType" nillable="true" minOccurs="0"
                        maxOccurs="unbounded"></xs:element>
            <xs:element name="wsProcessingMessage" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSimpleTraceURL">
        <xs:sequence>
            <xs:element name="pSkybillNumber" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="pLanguage" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSimpleTraceURLResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:traceEventURLListType" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="traceEventURLListType">
        <xs:sequence>
            <xs:element name="traceEventsURLArr" type="tns:traceEventURLType" nillable="true" minOccurs="0"
                        maxOccurs="unbounded"></xs:element>
            <xs:element name="wsProcessingMessage" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="traceEventURLType">
        <xs:sequence>
            <xs:element name="trace_Event_CODE" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_Comment" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_Date" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_Description" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="trace_Event_URL" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTraceBySkybill">
        <xs:sequence>
            <xs:element name="pUser" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="pPassword" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="pSkybillList" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="pLanguage" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTraceBySkybillResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:traceMessageListType" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>