src/main/resources/xsd/ChronopostExpeditionWSDL.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="ResultadoPagamento">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="expedicaoID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="valorPagar" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="resultado" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ResultadoPagamentoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ResultadoPagamentoResult"
                                   type="tns:PaymentResult"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="PaymentResult">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="IniciaAutenticacao">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="IniciaAutenticacaoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="IniciaAutenticacaoResult"
                                   type="tns:AuthenticationResult"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="AuthenticationResult">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="ConfirmarToken">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ConfirmarTokenResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ConfirmarTokenResult" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RegistarExpedicao">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="expedicao" type="tns:WSExpedicao"/>
                        <s:element minOccurs="0" maxOccurs="1" name="tipoResposta" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="enviarEmail" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="WSExpedicao">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Conta" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaNome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaLinha1" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaLinha2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaCodigoPostal" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaLocalidade" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaPais" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemTelefone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemTelemovel" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemFax" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemContactoNome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemContactoTelefone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemContactoTelemovel" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemContactoEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TipoDestino" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaId" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaNome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaLinha1" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaLinha2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaCodigoPostal" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaLocalidade" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaPais" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoTelefone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoTelemovel" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoFax" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoContactoNome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoContactoTelefone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoContactoTelemovel" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoContactoEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaAlternativaId" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaAlternativaNomeReceptor" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaAlternativaEmailReceptor" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaAlternativaTelemovelReceptor"
                               type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ObservacoesLinha1" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ObservacoesLinha2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Peso" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ValorCOD" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DataExpedicao" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="EnviarEtiquetasEmail" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="RegistarExpedicaoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RegistarExpedicaoResult" type="tns:Resposta"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Resposta">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="NrGuia" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="CorpoResposta" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="RegistarExpedicao2">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="expedicao" type="tns:WSExpedicao"/>
                        <s:element minOccurs="0" maxOccurs="1" name="tipoResposta" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="enviarEmail" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="tipoEtiqueta" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RegistarExpedicao2Response">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RegistarExpedicao2Result" type="tns:Resposta"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RegistarExpedicao3">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="expedicao" type="tns:WSExpedicao2"/>
                        <s:element minOccurs="0" maxOccurs="1" name="tipoResposta" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="enviarEmail" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="tipoEtiqueta" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="WSExpedicao2">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Conta" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaNome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaLinha1" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaLinha2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaCodigoPostal" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaLocalidade" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemMoradaPais" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemTelefone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemTelemovel" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemFax" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemContactoNome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemContactoTelefone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemContactoTelemovel" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="OrigemContactoEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TipoDestino" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaId" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaNome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaLinha1" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaLinha2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaCodigoPostal" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaLocalidade" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoMoradaPais" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoTelefone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoTelemovel" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoFax" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoContactoNome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoContactoTelefone" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoContactoTelemovel" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoContactoEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaAlternativaId" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaAlternativaNomeReceptor" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaAlternativaEmailReceptor" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DestinoLojaAlternativaTelemovelReceptor"
                               type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ObservacoesLinha1" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ObservacoesLinha2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Peso" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ValorCOD" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DataExpedicao" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="EnviarEtiquetasEmail" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="NumeroVolumes" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="RegistarExpedicao3Response">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RegistarExpedicao3Result" type="tns:Resposta"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RegistarExpedicao4">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="expedicao" type="tns:WSExpedicao2"/>
                        <s:element minOccurs="0" maxOccurs="1" name="tipoResposta" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="enviarEmail" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="tipoEtiqueta" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="pdfResponse" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RegistarExpedicao4Response">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RegistarExpedicao4Result" type="tns:RespostaPDF"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="RespostaPDF">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="NrGuia" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="CorpoResposta" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="PDF" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="ResultadoPagamentoSoapIn">
        <wsdl:part name="parameters" element="tns:ResultadoPagamento"/>
    </wsdl:message>
    <wsdl:message name="ResultadoPagamentoSoapOut">
        <wsdl:part name="parameters" element="tns:ResultadoPagamentoResponse"/>
    </wsdl:message>
    <wsdl:message name="IniciaAutenticacaoSoapIn">
        <wsdl:part name="parameters" element="tns:IniciaAutenticacao"/>
    </wsdl:message>
    <wsdl:message name="IniciaAutenticacaoSoapOut">
        <wsdl:part name="parameters" element="tns:IniciaAutenticacaoResponse"/>
    </wsdl:message>
    <wsdl:message name="ConfirmarTokenSoapIn">
        <wsdl:part name="parameters" element="tns:ConfirmarToken"/>
    </wsdl:message>
    <wsdl:message name="ConfirmarTokenSoapOut">
        <wsdl:part name="parameters" element="tns:ConfirmarTokenResponse"/>
    </wsdl:message>
    <wsdl:message name="RegistarExpedicaoSoapIn">
        <wsdl:part name="parameters" element="tns:RegistarExpedicao"/>
    </wsdl:message>
    <wsdl:message name="RegistarExpedicaoSoapOut">
        <wsdl:part name="parameters" element="tns:RegistarExpedicaoResponse"/>
    </wsdl:message>
    <wsdl:message name="RegistarExpedicao2SoapIn">
        <wsdl:part name="parameters" element="tns:RegistarExpedicao2"/>
    </wsdl:message>
    <wsdl:message name="RegistarExpedicao2SoapOut">
        <wsdl:part name="parameters" element="tns:RegistarExpedicao2Response"/>
    </wsdl:message>
    <wsdl:message name="RegistarExpedicao3SoapIn">
        <wsdl:part name="parameters" element="tns:RegistarExpedicao3"/>
    </wsdl:message>
    <wsdl:message name="RegistarExpedicao3SoapOut">
        <wsdl:part name="parameters" element="tns:RegistarExpedicao3Response"/>
    </wsdl:message>
    <wsdl:message name="RegistarExpedicao4SoapIn">
        <wsdl:part name="parameters" element="tns:RegistarExpedicao4"/>
    </wsdl:message>
    <wsdl:message name="RegistarExpedicao4SoapOut">
        <wsdl:part name="parameters" element="tns:RegistarExpedicao4Response"/>
    </wsdl:message>
    <wsdl:portType name="ServicesSoap">
        <wsdl:operation name="ResultadoPagamento">
            <wsdl:input message="tns:ResultadoPagamentoSoapIn"/>
            <wsdl:output message="tns:ResultadoPagamentoSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="IniciaAutenticacao">
            <wsdl:input message="tns:IniciaAutenticacaoSoapIn"/>
            <wsdl:output message="tns:IniciaAutenticacaoSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ConfirmarToken">
            <wsdl:input message="tns:ConfirmarTokenSoapIn"/>
            <wsdl:output message="tns:ConfirmarTokenSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao">
            <wsdl:input message="tns:RegistarExpedicaoSoapIn"/>
            <wsdl:output message="tns:RegistarExpedicaoSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao2">
            <wsdl:input message="tns:RegistarExpedicao2SoapIn"/>
            <wsdl:output message="tns:RegistarExpedicao2SoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao3">
            <wsdl:input message="tns:RegistarExpedicao3SoapIn"/>
            <wsdl:output message="tns:RegistarExpedicao3SoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao4">
            <wsdl:input message="tns:RegistarExpedicao4SoapIn"/>
            <wsdl:output message="tns:RegistarExpedicao4SoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ResultadoPagamento">
            <soap:operation soapAction="http://tempuri.org/ResultadoPagamento" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IniciaAutenticacao">
            <soap:operation soapAction="http://tempuri.org/IniciaAutenticacao" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConfirmarToken">
            <soap:operation soapAction="http://tempuri.org/ConfirmarToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao">
            <soap:operation soapAction="http://tempuri.org/RegistarExpedicao" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao2">
            <soap:operation soapAction="http://tempuri.org/RegistarExpedicao2" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao3">
            <soap:operation soapAction="http://tempuri.org/RegistarExpedicao3" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao4">
            <soap:operation soapAction="http://tempuri.org/RegistarExpedicao4" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicesSoap12" type="tns:ServicesSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ResultadoPagamento">
            <soap12:operation soapAction="http://tempuri.org/ResultadoPagamento" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IniciaAutenticacao">
            <soap12:operation soapAction="http://tempuri.org/IniciaAutenticacao" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConfirmarToken">
            <soap12:operation soapAction="http://tempuri.org/ConfirmarToken" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao">
            <soap12:operation soapAction="http://tempuri.org/RegistarExpedicao" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao2">
            <soap12:operation soapAction="http://tempuri.org/RegistarExpedicao2" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao3">
            <soap12:operation soapAction="http://tempuri.org/RegistarExpedicao3" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegistarExpedicao4">
            <soap12:operation soapAction="http://tempuri.org/RegistarExpedicao4" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Services">
        <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
            <soap:address location="http://cliente.chronopost.pt:10002/Services/Services.asmx"/>
        </wsdl:port>
        <wsdl:port name="ServicesSoap12" binding="tns:ServicesSoap12">
            <soap12:address location="http://cliente.chronopost.pt:10002/Services/Services.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
