src/main/resources/xsd/ChronopostTrackingWSDL.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.trace.chronopost.com"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://webservice.trace.chronopost.com" name="GetTrace_v2Service">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.trace.chronopost.com" schemaLocation="ChronopostTrackingXSD.xml"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getSimpleTrace">
        <part name="parameters" element="tns:getSimpleTrace"></part>
    </message>
    <message name="getSimpleTraceResponse">
        <part name="parameters" element="tns:getSimpleTraceResponse"></part>
    </message>
    <message name="getSimpleTraceURL">
        <part name="parameters" element="tns:getSimpleTraceURL"></part>
    </message>
    <message name="getSimpleTraceURLResponse">
        <part name="parameters" element="tns:getSimpleTraceURLResponse"></part>
    </message>
    <message name="getTraceBySkybill">
        <part name="parameters" element="tns:getTraceBySkybill"></part>
    </message>
    <message name="getTraceBySkybillResponse">
        <part name="parameters" element="tns:getTraceBySkybillResponse"></part>
    </message>
    <message name="getTraceByClientRef">
        <part name="parameters" element="tns:getTraceByClientRef"></part>
    </message>
    <message name="getTraceByClientRefResponse">
        <part name="parameters" element="tns:getTraceByClientRefResponse"></part>
    </message>
    <portType name="ChronoWSTraceGF_v2">
        <operation name="getSimpleTrace">
            <input message="tns:getSimpleTrace"></input>
            <output message="tns:getSimpleTraceResponse"></output>
        </operation>
        <operation name="getSimpleTraceURL">
            <input message="tns:getSimpleTraceURL"></input>
            <output message="tns:getSimpleTraceURLResponse"></output>
        </operation>
        <operation name="getTraceBySkybill">
            <input message="tns:getTraceBySkybill"></input>
            <output message="tns:getTraceBySkybillResponse"></output>
        </operation>
        <operation name="getTraceByClientRef">
            <input message="tns:getTraceByClientRef"></input>
            <output message="tns:getTraceByClientRefResponse"></output>
        </operation>
    </portType>
    <binding name="ChronoWSTraceGF_v2PortBinding" type="tns:ChronoWSTraceGF_v2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getSimpleTrace">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getSimpleTraceURL">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getTraceBySkybill">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getTraceByClientRef">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="GetTrace_v2Service">
        <port name="ChronoWSTraceGF_v2Port" binding="tns:ChronoWSTraceGF_v2PortBinding">
            <soap:address location="https://trace.chronopost.pt:7554/ChronoWSTraceGF_v2/GetTrace_v2Service"></soap:address>
        </port>
    </service>
</definitions>